@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .letter {
    @apply w-12 h-12 sm:w-14 sm:h-14 flex justify-center items-center text-2xl font-bold border-2 border-gray-300 uppercase transition-all duration-300 ease-in-out;
  }

  .key {
    @apply w-8 h-12 sm:w-10 sm:h-14 m-0.5 rounded bg-wordle-key border-none font-bold cursor-pointer uppercase transition-all duration-200 ease-in-out;
  }

  .key.wide {
    @apply w-16 sm:w-20;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.animate-flip {
  animation: flip 0.5s ease-in-out;
}
